.content_container {
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: 300px;
    height: 500px;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
    z-index: 9999;
    overflow: auto;
    flex-direction: column;
    display: flex;
    margin: auto auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

.content_container::-webkit-scrollbar {
    width: 5px;
}

.content_container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.content_container::-webkit-scrollbar-thumb {
    background: #888;
}

.content_container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

option {
    padding: 8px;
}

.table-container {
    max-width: 300px;
    overflow-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}

.analysis-table {
    width: 100%;
    border-collapse: collapse;
}

.analysis-table th,
.analysis-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.analysis-table th {
    background-color: #f2f2f2;
}

.parent-test-div {
    margin-top: 10px;
}

.credit-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.credit-p {
    margin: 0;
}

.close-button {
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50%;
    animation: blink 1s infinite;
}

.close-button:hover {
    background-color: #d32f2f;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.print-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 16px;
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .content_container {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }
}